html
    head
        title Hola!
        link(rel='stylesheet' href='/style.css')
    body
        main
            //- no ajax
            //- removing method attribute creates a GET request
            //- ... and places keys/values in URL
            form(action='/add-something' method='POST')
                input(
                    name='name'
                    type='text'
                    placeholder='Your Name'
                )
                input(
                    name='message'
                    type='text'
                    placeholder='Say Something'
                )
                input(type='submit' value='Go')
            p
                a(href='/results') Results
